
.nav-link1{
    display: flex;
    margin-left: 50rem;
}
.nav-link2{
    display: flex;
    margin-left: 5rem;
}
.nav-link3{
    display: flex;
    margin-left: 5rem;
}
.img-fluid1{
    margin-left: 30rem;
    transform: rotate(90deg);
    margin-top: -24rem;
    position: relative;
}
.heading1{
    margin-left: 10rem;
    margin-top:-15rem;
}
.heading2{
    margin-left:10rem;
    font-size: medium;
}
.landing-lady{
    margin-left: 45rem;
    margin-top: -15rem;
}
.heading3{
text-decoration: underline;
margin-left: 10rem;
margin-top: 5rem;
}
.pastry{
margin-left: 32rem;
   height: 7rem;
   width:5rem;
   position: relative;
}
.heading4{
position: absolute;
margin-top: -5rem;
margin-left: 10rem;
}
.heading5{
margin-left: 10rem;
}
.list1 {
   padding-left: 10rem;
   position: absolute;
   display: inline-block;
   font-size:small;
}
.list2{
    padding-left: 10rem;
   position: absolute;
   font-size:small;
   float: right;
}
.donut{
    padding-left: 30rem;
       height: 7rem;
       width:5rem;
       position: relative;
      
}
.heading6{
    position: absolute;
    margin-top: -15rem;
    margin-left: 39rem;
    }
 .heading7{
        position: absolute;
        margin-top: -10rem;
        margin-left: 39rem;
}
.heading8{
    text-decoration: underline;
    margin-left: 10rem;
    margin-top: -15rem;
}
.list-group{
    margin-left: 10rem;
    margin-top: 3rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
    line-height: 2rem;
}
.ellipse{
    position: relative;
    transform: rotate(180deg);
    margin-left: 80rem;
}
.sneaky{
margin-top: -12rem;
margin-left: 4rem;
}
.footer{
    background-color: black;
    color:white
}
.page2,.page3,.page4{
    background-color: rgb(239, 229, 230);
}
@media (max-width:420px){
    .item{
        width: 5rem;
        top:-3%;
        left: 72.5%;
    }
}